#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.App {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  border: 3px solid rgb(113, 131, 244);
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f6e7;
  .list-Item {
    margin: 2px;
    padding: 10px;
    background-color: #c0e8f5;
    border-radius: 3px;
  }
}

.dropdown {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  align-items: center;
}

.sort-by-label {
  padding-right: 5px;
}

.selected-attribute {
  padding: 2px;
}

.cat-fact-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(247, 211, 251);
  padding: 10px;
  height: 150px;
  border: 3px solid rgb(235, 113, 244);
  border-radius: 5px;
  button {
    align-self: center;
    padding-bottom: 10px;
    background-color: rgb(204, 181, 254);
    border: 2px solid rgb(124, 6, 242);
  }
}

.cat-fact {
  padding-top: 10px;
  height: 100px;
  overflow-y: auto;
}
